<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>
            {% block title %}

            {% endblock %}
            | Alexia Asunción
        </title>
    </head>
    <body>
        <h1>Proyecto web (LP3) | Alexia Asunción</h1>
        <hr/>
        <ul>
            <li>
                <a href="/inicio">Inicio</a>
            </li>
            <li>
                <a href="/saludo">Mensaje de saludo</a>
            </li>
            <li>
                <a href="/rango">Mostrar números [a,b]</a>
            </li>
            <li>
                <a href="/rango2/10/15">Mostrar números [10,15]</a>
            </li>
        </ul>
        <div id="content">
            {% block content %}
                <strong>Contenido en layout (Padre)</strong>
            {% endblock %}
        </div>
        <footer>
            UNTELS - Lenguaje de Programación III &copy; Alexia Asunción
        </footer>
    </body>
</html>